
.clean-my-archives {

	ul {
		list-style: none;
		padding-left: 0;
	}

	li::after {
		content    : ".";
		display    : block;
		height     : 0;
		clear      : both;
		visibility : hidden;
	}

	&__day {
		float: left;
		width: 45px;
		padding-left: 10px;
		color: color( 'silver-chalice' );
	}

	li a {
		float: left;
		width: calc( 100% - 55px );
	}
}
