////
/// Entry component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.entry {

	// Type of entry/post.
	&--type-post {}

	&--type-page {}

	// Sticky posts.
	&.sticky {}

	// Featured image.
	&__image {}

	// Header wrapper.
	&__header {
		text-align: center;
		margin-bottom: $spacing-global;
	}

	// Entry title.
	&__title {
		margin:    0;
		font-size: 2.125rem;
		font-weight: 400;

		a {
			padding: 1px 2px;
			color: #454545;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
				background: #FFFBCC;
			}
		}
	}

	// Subtitle.
	&__subtitle {
		margin-top: -0.83em;
		margin-bottom: 1.66em;
		font-size: 1.25rem;
		font-style: italic;
		color: #bbb;
	}

	// Full entry content.
	&__content {}

	// Summary/Excerpt.
	&__summary {}

	// Meta wrappers.
	&__byline,
	&__footer {
		@include meta;
	}

	&__byline {
		margin: 1em 0 0.5em 0;
		font-size: 16px;
		font-style: italic;
		color: #bbb;
	}

	&--format-aside,
	&__notes {
		box-sizing:    border-box;
		overflow:      hidden;
		width:         calc( 100% + 3em );
		margin:        0 0 -#{ $spacing-global } -#{ $spacing-global };
		padding:       $spacing-global $spacing-global 0;
		font-style:    italic;
		color:         #aaa;
		background:    #f6f6f6;
		border-top:    1px solid color( 'white-smoke' );
		border-bottom: 1px solid color( 'white-smoke' );

		@media( min-width: break( 'content' ) ) {
			width:       calc( 100% + #{ $spacing-2x } );
			margin-left: -#{ $spacing-global };
			padding:     $spacing-global $spacing-global 0;
		}
	}

	&--format-aside {
		margin-top: $spacing-global;
		margin-bottom: $spacing-global;
	}

	&__footer {
		margin: $spacing-global 0;
		padding-top: $spacing-global;
		text-align: center;
		border-top: 1px solid color( 'white-smoke' );
	}

	&__notes + &__footer {
		border-top: none;
	}

	&__topics {
		a {
			margin: 0 0.25rem;
		}
	}

	&--single &__header {
		margin-bottom: 3rem;
	}

	&--single &__title {
		@include heading-primary;
	}

}
